<div id="form-main">
    <div id="form-div">
      <form class="form" id="form1" action="https://formsubmit.co/efrancioli@abc.gob.ar" method="POST">
        
        <label name="name">Nombre</label>
          <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Nombre" id="name" />
        <p class="name">
            
        </p>
        <label name="email">email</label>
          <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
        <p class="email">
            
        </p>
        <label name="comment">comment</label>
          <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
        <p class="text">
            
        </p>
        
        <input type="submit" value="Enviar" id="button-blue"/>

        <div class="submit">
          <div class="ease"></div>
        </div>
      </form>
    </div>