
<app-nav-bar></app-nav-bar>

<div id="parallax-world-of-ugg">
  
    <section>
      <div class="title">
        <h3>Estacionamiento </h3>
        <h1>En Angular</h1>
      </div>
    </section>
    
    <section>
        <div class="parallax-one">
          <h2>Somos Seguridad y Confianza</h2>
        </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character sc">E</span>n el corazón de la ciudad, nuestro estacionamiento es más que solo un lugar para dejar tu vehículo. Es un oasis de comodidad y seguridad. Con un diseño moderno y personal amable, te garantizamos un lugar conveniente para estacionar mientras disfrutas de tus actividades en la ciudad. Olvídate de buscar aparcamiento; estamos aquí para cuidar de tu coche, para que tú puedas relajarte y disfrutar de tu día. Bienvenido a la solución perfecta para tus necesidades de estacionamiento.</p>
        
      </div>
    </section>
    
    <section>
      <div class="parallax-two">
        <h2>Nuestros Servicios</h2>
      </div>
    </section>
    
    <section>
      <div class="block">
        <p><span class="first-character ny">N</span>uestro estacionamiento en Mar del Plata se enorgullece de brindar una experiencia de estacionamiento sin igual en esta hermosa ciudad costera. Ofrecemos una variedad de servicios para garantizar que tu experiencia sea cómoda y libre de preocupaciones. Desde seguridad las 24 horas hasta una ubicación conveniente en el corazón de la ciudad, nuestro estacionamiento es la elección perfecta para quienes desean explorar Mar del Plata sin preocuparse por encontrar aparcamiento. Además, ofrecemos tarifas competitivas y espacios amplios para vehículos de todos los tamaños. Confía en nosotros para satisfacer tus necesidades de estacionamiento mientras disfrutas de todo lo que Mar del Plata tiene para ofrecer.</p>
        
      </div>
    </section>
    
    <section>
      <div class="parallax-three">
        <h2>Nuestro Personal</h2>
      </div>
    </section>

    <section>
      <div class="card-group">
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top card-altura"
            alt="Hollywood Sign on The Hill" />
          <div class="card-body">
            <h5 class="card-title">Paco Ramirez</h5>
            <p class="card-text">
              Eficiente y amable, garantiza una experiencia de estacionamiento sin problemas.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">5 años de experiencia</small>
          </div>
        </div>
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top card-altura"
            alt="Palm Springs Road" />
          <div class="card-body">
            <h5 class="card-title">Jimena Morales</h5>
            <p class="card-text">Experta en gestión de flujos de vehículos y resolución de problemas. Su eficiencia asegura una experiencia impecable.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">2 años de experiencia</small>
          </div>
        </div>
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top card-altura"
            alt="Los Angeles Skyscrapers" />
          <div class="card-body">
            <h5 class="card-title">Mateo Fortunato</h5>
            <p class="card-text">
              El encargado del estacionamiento lidera el equipo, optimiza operaciones y garantiza la satisfacción del cliente. Su experiencia y habilidades mantienen el estacionamiento en su mejor forma.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">7 años de experiencia</small>
          </div>
        </div>
      </div>
    </section>
    
      
    </div>

    <app-footer></app-footer>