<div class="container tablaSection">
    <h2>Estacionamiento UTN</h2>
    <table class="my-table table table-hover">
      <thead>
        <tr>
          <th>ID Usuario</th>
          <th>Color</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Patente</th>
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of inputVehiculos">
          <td>{{ vehiculo.idUser }}</td>
          <td>{{ vehiculo.color }}</td>
          <td>{{ vehiculo.marca }}</td>
          <td>{{ vehiculo.modelo }}</td>
          <td>{{ vehiculo.patente }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
  