<header class="header">
  <nav class="navbar navbar-fixed-top">
    <a class="logo" href="#">" "</a>

    <div class="wrapper">
      <ul class="menu">
        <li class="menu-item" *ngIf="authService.checkStatusAutenticacion()">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="goToHome()"
          >
            Dashboard
          </button>
        </li>
        <li class="menu-item" *ngIf="!authService.checkStatusAutenticacion()">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="goToLogin()"
          >
            Tarifas
          </button>
        </li>
        <li class="menu-item" *ngIf="!authService.checkStatusAutenticacion()">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="goToContact()"
          >
            Contacto
          </button>
        </li>
        <li
          class="menu-item"
          *ngIf="!authService.checkStatusAutenticacion(); else elseBlock"
        >
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="goToLogin()"
          >
            Iniciar Sesion
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<ng-template #elseBlock>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="authService.logout()"
  >
    Cerrar Sesion
  </button>
</ng-template>
